/* -------------- reset css -------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------- end reset css -------------- */

body {
	background-color:  #E6E6E6;
	cursor: url('../pointer.cur') 0 1, auto;
}
html, body {
	height: 100%;
}
#main {
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
}
#header {
	padding: 10px;
	z-index: 2;
	background-color: white;
	border-bottom: 2px solid #17a357;
}
#header > a {
	display: inline-block;
	margin-bottom: -3px;
}
#header h1 {
	font-size: 24px;
	letter-spacing: 5px;
	float: left;
	color: black;
	margin: 3px 0 0 20px;
}
#header h1 > span {
	color: #17a357;
}
#header .afterLogo {
	display: inline-block;
	margin: 4px 0 0 10px;
	vertical-align: top;
}
#header img {
	float: left;
}
#menu {
	display: inline-block;
	float: right;
	margin-top: 8px;
}
#menu > a {
	margin-right: 5px;
}
#menu > a:last-child {
	margin-right: 0;
}
#content {
	padding: 50px 10px 0;
}
h2 {
	color: #17a357;
	font-size: 20px;
	letter-spacing: 2px;
}
.clear {
	clear: both;
}
a {
	color: #7bd01d;
	text-decoration: none;
}
a:hover{
	color: #17a357;
}
#projects {
	margin: 0 auto;
}
#projects > a {
	display: block;
	margin: 5px 2%;
	width:29.33%;
	background: white;
	float: left;
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 0;
	font-size: 12px;
	letter-spacing: 1px;
}
#projects > a:hover {
    -webkit-box-shadow:inset 0px 0px 0px 2px #17a357;
    -moz-box-shadow:inset 0px 0px 0px 2px #17a357;
    box-shadow:inset 0px 0px 0px 2px #17a357;
}
#projects .img-container {
	margin: 10px 10px 5px 10px;
	position: relative;
}
#projects .img-container  > div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(23,163,87,0.5);
	top: 0;
	display: none;
}
#projects img {
	max-width: 100%;
	display: block;
}
#overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,0.7);
}
#overlay > div {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	background: white;
	position: relative;
}
#overlay #overlay-content {
	position: relative;
	margin: 0 10px;

}
#overlay #overlay-controls {
	text-align: center;
}
#overlay #close-overlay {
	margin: 0 25%;
}
#overlay #overlay-controls a {
	cursor: pointer;
	font-size: 50px;
}
#overlay-items {
	display: none;
}